@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background-color: white;
  color: #494949;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
}

.navbar {
  background-color: #08261f !important;
  display: none;
}

.new-item {
  background-color: #2953d5;
  padding: 5px 11px;
}
.new-item h1 {
  text-align: left;
  float: left;
  color: white;
  font-size: 30px;
  margin-left: 8px;
}
.new-item form {
  float: right;
  margin-top: 8px;
}
.new-item input {
  height: 40px;
  border-radius: 20px;
  border: none;
  text-align: center;
  background-color: #7e97e6;
  width: 200px;
  transition: width 0.4s;
  color: #19327f;
}
.new-item input::placeholder {
  color: #19327f;
}
.new-item input:hover, .new-item input:focus {
  width: 400px;
}
.new-item button {
  height: 40px;
  background-color: #34bf77;
  color: #cdf2df;
  border-radius: 20px;
  border: none;
  transform: translatey(-1px);
  width: 80px;
  margin-left: 16px;
  margin-right: 8px;
}
.new-item button:hover {
  background-color: #29975e;
  color: white;
}

.todolist {
  margin-top: 20px;
  padding: 20px;
}
.todolist .wrapper {
  padding: 40px 20px 10px 20px;
  border-radius: 10px;
}
.todolist .wrapper h5 {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 8px;
  color: #2953d5;
}
.todolist .wrapper h5 span.count {
  margin-left: 5px;
  color: #aaaaaa;
  font-weight: normal;
}
.todolist .wrapper h5 span.clear {
  transform: translateY(-4px);
  float: right;
  background-color: #7e97e6;
  padding: 5px 12px;
  border-radius: 30px;
  color: white;
  transition: 0.2s;
  font-size: 14px;
  font-weight: normal;
}
.todolist .wrapper h5 span.clear:hover {
  cursor: pointer;
  background-color: #2953d5;
}
.todolist .wrapper ul {
  padding: 0;
}
.todolist .wrapper ul li {
  list-style-type: none;
  padding: 15px 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-transform: capitalize;
}
.todolist .wrapper ul li .date {
  font-size: small;
  padding-left: 20px;
  color: #b4b4b4;
}
.todolist .wrapper ul li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.todolist .wrapper ul li .container {
  display: inline;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
.todolist .wrapper ul li .container input ~ .checkmark {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #f8f8f8;
  border: 1px solid #a8a8a8;
}
.todolist .wrapper ul li .container:hover input ~ .checkmark {
  background-color: #34bf77;
  border: none;
}
.todolist .wrapper ul li .container input:checked ~ .checkmark {
  background-color: #34bf77;
  border: none;
}
.todolist .wrapper ul li .container input:checked ~ .checkmark:hover {
  background-color: #29975e;
}
.todolist .wrapper ul li .container .checkmark:after {
  content: "";
  position: absolute;
  display: block;
}
.todolist .wrapper ul li .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #cecece;
}
.todolist .wrapper ul li .close {
  cursor: pointer;
  float: right;
}
.todolist .wrapper ul li .close .close-icon {
  color: #7e97e6;
  transition: 0.2s;
  transform: scale(1, 1) rotate(0deg);
}
.todolist .wrapper ul li .close .close-icon:hover {
  transform: scale(1.2, 1.2) rotate(90deg);
  color: #19327f;
}

@media only screen and (max-width: 768px) {
  .new-item h1 {
    float: none;
    text-align: center;
  }
  .new-item form {
    width: 100%;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .new-item input {
    width: 100%;
  }
  .new-item input:hover, .new-item input:focus {
    width: 100%;
  }
  .new-item button {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
