@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background-color: white;
  color: #494949;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
}

.navbar {
  background-color: #08261f !important;
  display: none;
}

@media only screen and (max-width: 600px) {
  .new-item input {
    width: 200px !important;
  }
  .new-item input:hover, .new-item input:focus {
    width: 200px !important;
  }
}
.new-item {
  background-color: #2953d5;
}
.new-item h1 {
  text-align: left;
  float: left;
  color: white;
  font-size: 30px;
}
.new-item form {
  float: right;
  margin-top: 8px;
}
.new-item input {
  height: 40px;
  border-radius: 20px;
  border: none;
  text-align: center;
  background-color: #c5e6ff;
  width: 200px;
  transition: width 0.4s;
  color: #2953d5;
}
.new-item input::placeholder {
  color: #2953d5;
}
.new-item input:hover, .new-item input:focus {
  width: 400px;
}
.new-item button {
  height: 40px;
  background-color: #f66623;
  color: white;
  border-radius: 20px;
  border: none;
  transform: translatey(-1px);
  width: 80px;
}
.new-item button:hover {
  background-color: #d7581c;
  color: white;
}

.todolist {
  margin-top: 20px;
  padding: 20px;
}
.todolist .wrapper {
  padding: 40px 20px 10px 20px;
  border-radius: 10px;
}
.todolist .wrapper h5 {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
  color: #2953d5;
}
.todolist .wrapper h5 span {
  color: #6d6d6d;
  font-weight: normal;
}
.todolist .wrapper ul {
  padding: 0;
}
.todolist .wrapper ul li {
  list-style-type: none;
  padding: 15px 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-transform: capitalize;
}
.todolist .wrapper ul li:hover {
  text-decoration: line-through;
}
.todolist .wrapper ul li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.todolist .wrapper ul li .container {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
.todolist .wrapper ul li .container input ~ .checkmark {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #f8f8f8;
  border: 1px solid #a8a8a8;
}
.todolist .wrapper ul li .container:hover input ~ .checkmark {
  background-color: #f66623;
  border: none;
}
.todolist .wrapper ul li .container input:checked ~ .checkmark {
  background-color: #44af58;
  border: none;
}
.todolist .wrapper ul li .container input:checked ~ .checkmark:hover {
  background-color: #2b7d3b;
}
.todolist .wrapper ul li .container .checkmark:after {
  content: "";
  position: absolute;
  display: block;
}
.todolist .wrapper ul li .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #cecece;
}

/*# sourceMappingURL=style.css.map */
