@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$basecolor: #2953d5;
$baseLighter: lighten($basecolor, 20%);
$baseDarker: darken($basecolor, 20%);
$touchColor: #34bf77;
$touchLighter: lighten($touchColor, 40%);
$touchDarker: darken($touchColor, 10%);


$white: white;
$black: black;

body {
  background-color: white;
  color: #494949;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0;
}

.navbar {
  background-color: #08261f !important;
  display: none;
}


.new-item {
  background-color: $basecolor;
  padding: 5px 11px;

  h1 {
    text-align: left;
    float: left;
    color: $white;
    font-size: 30px;
    margin-left: 8px;
  }

  form {
    float: right;
    margin-top: 8px;
  }


  input {
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-color: $baseLighter;
    width: 200px;
    transition: width 0.4s;
    color: $baseDarker;

    &::placeholder {
      color: $baseDarker;
    }

    &:hover, &:focus {
      width: 400px;
    }

  }

  button {
    height: 40px;
    background-color: $touchColor;
    color: $touchLighter;
    border-radius: 20px;
    border: none;
    transform: translatey(-1px);
    width: 80px;
    margin-left: 16px;
    margin-right: 8px;

    &:hover {
      background-color: $touchDarker;
      color: $white;
    }
  }

}


.todolist {

  margin-top: 20px;
  padding: 20px;

  .wrapper {
    padding: 40px 20px 10px 20px;
    border-radius: 10px;

    h5 {
      font-weight: bold;
      font-size: 16px;
      border-bottom: 2px solid #f5f5f5;
      padding-bottom: 8px;
      color: $basecolor;

      span.count {
        margin-left: 5px;
        color: #aaaaaa;
        font-weight: normal;
      }

      span.clear {
        transform: translateY(-4px);
        float: right;
        background-color: $baseLighter;
        padding: 5px 12px;
        border-radius: 30px;
        color: $white;
        transition: 0.2s;
        font-size: 14px;
        font-weight: normal;

        &:hover {
          cursor: pointer;
          background-color: $basecolor;
        }
      }
    }

    ul {

      padding: 0;

      li {
        list-style-type: none;
        padding: 15px 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #f8f8f8;
        text-transform: capitalize;

        .date {
          font-size: small;
          padding-left: 20px;
          color: #b4b4b4;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

        }

        .container {
          display: inline;
          position: relative;
          padding-left: 20px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          margin: 0;

          input ~ .checkmark {
            width: 12px;
            height: 12px;
            border-radius: 10px;
            margin-top: 5px;
            background-color: #f8f8f8;
            border: 1px solid #a8a8a8;

          }

          &:hover input ~ .checkmark {
            background-color: $touchColor;
            border: none;
          }

          input:checked ~ .checkmark {
            background-color: $touchColor;
            border: none;

            &:hover {
              background-color: $touchDarker;
            }
          }

          .checkmark:after {
            content: "";
            position: absolute;
            display: block;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #cecece;
          }
        }

        .close {
          cursor: pointer;
          float: right;

          .close-icon {
            color: $baseLighter;
            transition: 0.2s;
            transform: scale(1, 1) rotate(0deg);

            &:hover {
              transform: scale(1.2, 1.2) rotate(90deg);
              color: $baseDarker;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .new-item {
    h1 {
      float: none;
      text-align: center;
    }

    form {
      width: 100%;
      margin-top: 0;
      margin-bottom: 8px;
    }

    input {
      width: 100%;

      &:hover, &:focus {
        width: 100%;
      }
    }

    button {
      display: none;
    }
  }
}